<div [ngStyle]="{'background' : 'url(../../assets/images/slika9.jpg)'}">
  <div class="bodyReg">
    <div class="container skatla">

      <div class="daljsiObrazec">

        <h1 class="naslov">{{naslov}}</h1>
        <div>
        <form (ngSubmit)="dodajNovegaUporabnika()" id="kreirajUporabnika" autocomplete="on">
          <hr>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label><strong>Ime: </strong></label>
                <input [(ngModel)]="novUporabnik.ime" name="ime" class="form-control" type="text" id="ime" placeholder="Vnesite ime" required>
              </div>
              <div class="form-group col-md-8">
                <label><strong>Priimek: </strong></label>
                <input [(ngModel)]="novUporabnik.priimek" name="priimek" class="form-control" type="text" id="priimek" placeholder="Vnesite priimek" required>
              </div>
            </div>
            <div class="form-group">
              <label><strong>Datum rojstva: </strong></label>
              <input class="form-control" type="date" id="datum" required>
            </div>
            <div class="form-group">
              <label><strong>E-poštni naslov: </strong></label>
              <input [(ngModel)]="novUporabnik.uporabniskoIme" name="uporabniskoIme" class="form-control" type="email" id="mail" placeholder="Vnesite e-poštni naslov" required>
            </div>
            <div class="form-group">
              <label><strong>Geslo: </strong></label>
              <input [(ngModel)]="novUporabnik.geslo" name="geslo" class="form-control" type="password" id="geslo" placeholder="Vnesite geslo" autocomplete="off" required>
            </div>

            <div class="gumbi">
              <button class="btn btn-info" name="submit" value="">Včlani se</button>
            </div>
          <hr>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

