<!--<br>-->
<!--<div [ngStyle]="{'background' : 'url(../../assets/images/bns.jpg)'}"></div>-->
<!--    <h1 class='anton'>{{naslov}}</h1>-->
<!--    <div class="tabela">-->
<!--    <div class="container">-->
<!--        <table class="table table-hover">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>{{glavaTabele.stolpec1}}</th>-->
<!--                <th>{{glavaTabele.stolpec2}}</th>-->
<!--                <th>{{glavaTabele.stolpec3}}</th>-->
<!--                -->
<!--                <th>{{glavaTabele.stolpec5}}</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            -->
<!--            <tr *ngFor="let narocilo of narocila">-->
<!--                <td>{{narocilo.stMize}}</td>-->
<!--                <td *ngFor="let kos of kosarica">-->
<!--                    -->
<!--                        <strong>{{kos.kolicina}}X </strong> {{kos.naziv}}<br>-->
<!--                    -->
<!--                </td>-->
<!--                <td [innerHTML]="narocilo.opombe | prazen-niz"></td>-->
<!--                -->
<!--                <td>-->
<!--                    <button onclick="brisi({{narocilo.stMize}})"type="button" id="{{narocilo.stMize}}" class="btn btn-outline-info">Sprejeto</button>-->
<!--                </td>-->
<!--            </tr>-->
<!--            -->

<!--            </tbody>-->
<!--        </table>-->
<!--        <button class="btn btn-outline-warning"><a id="uredi" routerLink="menuPonudnik">Urejanje menija</a></button>-->
<!--    </div>-->
<!--    </div>-->
<!--    <script> function brisi(id) {-->
<!--        var gumb = document.getElementById(id);-->
<!--        gumb.style.display = "none"; -->
<!--    }-->
<!--    </script>-->
