.bodyPon {
    background-image: url('../images/koktejli.jpg');
    background-position: bottom;
    /* background-repeat: repeat;*/
    background-attachment: fixed;
    background-size: 2000px;
}

.container.skatla {
    padding: 5em;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
}

.daljsiObrazec {

    text-align: justify;
    border-radius: 40px;
    background-color:rgba(255,255,255,0.9);
    padding: 12%;
    mask-position: center;
}

.naslov {
    font-family: "Anton";
    font-size: 3em;
    text-align: center;
    margin: 0.7em;
}

.h2 {
    padding: .5em;
    text-align: left;
}

.gumbi {
    text-align:center;
    padding: 10%;

}