<div>
    <div class="container skatla">
        <div class="prijava">
            <h1 class="naslov">{{vsebina.naslov}}</h1>
            <img alt="" height="200"
                 src="../images/check.png">
            <br>
            <br>
            <p>{{vsebina.zahvala}}<br>
                {{vsebina.racun}}
            </p>
            <button onclick = "prenesiRacun()" id = "racun" class = "btn btn-outline-secondary">RaÄun</button>
        </div>
    </div>
</div>
<script src = "https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
<script src = "/javascripts/racun.js"></script>



